html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #3f4fa7, #1c03fa);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
  padding-top: 20px;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  flex-grow: 1;
}

#busca-produto .form-busca-produto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#busca-produto {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 30px;
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#busca-produto input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  width: 200px;
  box-sizing: border-box;
}

#busca-produto input[type="text"]::placeholder {
  color: #ccc;
}

#busca-produto button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #4c1e80;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#busca-produto button[type="submit"]:hover {
  background-color: #9c4acfaf;
}

#busca-produto .btn-novo-produto {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: rgba(11, 134, 39, 0.84);
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#busca-produto .btn-novo-produto:hover {
  background-color: rgb(14, 67, 25);
}

#edicao-produto {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  width: 100%;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

#edicao-produto form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#edicao-produto h3 {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#edicao-produto label {
  display: block;
  color: #ddd;
  margin-bottom: 5px;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#edicao-produto input[type="text"],
#edicao-produto input[type="number"] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

#edicao-produto input[type="text"]::placeholder,
#edicao-produto input[type="number"]::placeholder {
  color: #ccc;
}

#edicao-produto input[type="text"]:focus,
#edicao-produto input[type="number"]:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

#edicao-produto button[type="submit"] {
  grid-column: 1 / -1;
  width: auto;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 1.1em;
  background-color: #4c1e80;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  justify-self: center;
}

#edicao-produto button[type="submit"]:hover {
  background-color: #9c4acfaf;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 20px;
}
